<h1>本タスクの詳細ページ</h1>

<table class="table table-bordered">

  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @task.status %></td>
  </tr>
</table>

<%= link_to 'back', root_path, class: 'btn btn-default' %>